<%- include ('partials/header',{title:"Evermore Knight"}) %> 

    <!--Landing Page-->
    <section class="bg-landing-page" id="landing-page">
    </section>

    <!--Home Section-->
    <section class="bg-home" id="home">

    </section>

    <!--About Section-->
    <section class="bg-about" id="about">
        <div class="container">
            <div class="row align-item-center">
                <div class="col-md-5">
                    <div class="col" style="margin-top: 25%;">
                        <div>
                            <img src="/public/assets/img/about-2.png" style="max-width: 100%; max-height: 100%;">
                        </div>
                        <span class="title-about-text">TURN BASED<br>RPG COMBAT</span>
                        <div>
                            <img src="/public/assets/img/about-3.png" style="max-width: 25px; max-height: 25px; margin-top: 10px; margin-bottom: 20px;  display: block; margin-right: auto; margin-left: auto; ">
                        </div>
                        <p class="desc-about-text" >Anime - inspired RPG combat! 
                            Strategy<br> and planning can easily turn the tide of<br>battle. Witness awesome abilities and<br> pristine gameplay.
                        </p>
                    </div>


                </div>
                <div class="col-md-7">
                    <div class="about-pic-container" style="display:block ;margin-top:16%; ">
                        <img src="/public/assets/img/about-1.png" class="about-pic" style="max-width: 129%; max-height: 129%;">
                    </div>

                </div>
            </div>
        </div>

    </section>

    <!--Hero Section-->
    <section class="bg-hero" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <div class="col" style="margin-top: 20%;">
                        <span class="title-wm-text" style="color: white;">EXCLUSIVE<br>HEROES</span>
                        <p class="desc-wm-text" style="color: white;">Meet valiant heroes that roam the world each with<br>their own unique traits. There are exclusive characters<br>
                            you can get in game that can vastly help your party in battle.<br>They are also valuable and limited time NFT's.
                        </p>
                        <div class="carousel-hero" data-flickity='{"freeScroll": false, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                            <% for (var i = 0; i < listHero.length; i++) { %>
                                <div class="carousel-hero-cell">
                                    <img src="<%= listHero[i].static %>" style="max-width: 100%; max-height: 100%;">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" >
                    <div class="carousel-hero-2" data-flickity='{ "freeScroll": false, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                        <% for (var i = 0; i < listHero.length; i++) { %>
                            <div class="carousel-hero-cell-2">
                                <img src="<%= listHero[i].default %>" style="max-width: 100%; max-height: 100%;">
                            </div>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--Monster Section-->
    <section class="bg-monster" id="monster">

    </section>

    <!--How to Play Section-->
    <section class="bg-tutorial" id="tutorial">
        <div class="container">
            <div class="col" >
                <div class="row" >
                    <div class="col-md-5 htp-text">
                        <div class="row" style="justify-content: center; margin: auto;">
                            <span class="title-htp-text">PLAY TO EARN</span>
                            <p class="desc-htp-text">Evergems is the main Play to Earn Income, and the farm
                                <br>output will gradually increase as you level up.</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div>
                            <img src="/public/assets/img/htp-1.png" style="max-width: 100%; max-height: 100%;">
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-7">
                        <div >
                            <img src="/public/assets/img/htp-4.png" style="max-width: 110%; max-height: 110%;">
                            <!-- <img src="/public/assets/img/htp-3.png" style="max-width: 50%; max-height: 60%;"> -->
                        </div>
                    </div>
                    <div class="col-md-5 htp-text" id="htp-text-adjust">
                        <div class="row" style=" margin: auto;">
                            <span class="title-htp-text">COLLECT LIMITED NFT ASSETS</span>
                            <p class="desc-htp-text">Collect unique characters and powerful legendary equipment<br>or
                                sell it on NFT marketplace. NFT assets, from heroes,<br>weapons, equipment, to items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--World Map Section-->
    <section class="bg-world-map" id="worldmap" >
        <div class="container">
            <div class="col-md wm-container">
                <div class="wm-title-container">
                    <span class="title-wm-text">WORLD MAP</span>
                    <p class="desc-wm-text">Explore the beautiful world of Temeris,<br> where your adventures awaits!</p>
                </div>
                <div class="carousel-wm" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                    <% for (var i = 0; i < listWorldMap.length; i++) { %>
                        <div class="carousel-wm-cell">
                            <img src="<%= listWorldMap[i] %>" style="max-width: 100%; max-height: 100%;">
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <script src="/public//js/function.js"></script>
</body>
</html>