section{
    min-height:100vh !important;
    overflow-x: hidden;
    overflow-y:auto;
    background-position: center !important;
    background-size: cover !important;
}
/*Navbar*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51, 102, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: #5481B0;
} 

/*Landing Page Section*/
.bg-landing-page{
  height: 100vh;
}
.tes{
  background: url('/public/assets/img/background/landing_page.png');
  background-size: cover;
  height: inherit;
}
@media (max-width: 768px) {
  .tes{
    background: url('/public/assets/img/background/landing-page-mobile.jpg') ;
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
  }
}
@media (max-width: 1100px){
  .tes{
    background: url('/public/assets/img/background/landing-page-tablet.jpg') ;
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
  }
}

/*Home Section */
.bg-home{
  background: url('/public/assets/img/background/bg-home.png');
}
.fab {color: #5481B0; }

.btn-store{
  border: none;
  background-color: transparent;
  width: 130px;
  height: 50px;
}
.btn-rounded{
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 6px;
  border: none;
  width: 35px;
  height: 35px;
}

.btn-rounded i{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*About Section */
.bg-about{
  background: url('/public/assets/img/background/bg-about.png');
}
.title-about-text{
  font-family: 'Uncial Antiqua', cursive;
  font-size: 300%;
  color: white;
  
}
.desc-about-text{
  font-family: 'Merriweather', serif;
  font-size: 118%;
  color: white;
}

@media  screen and (max-width:770px) {
  .title-about-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .desc-about-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-pic-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-pic{
    width: 112%; 
    height: 112%;
  }
}

/*Monster Section*/
.bg-monster{
  background: url('/public/assets/img/background/bg-monster.png');
}

.title-monster-text{
  font-family: 'Uncial Antiqua', cursive;
  font-size: 246%;
  color: white;
}

.desc-monster-text{
    font-family: 'Merriweather', serif;
    font-size: 90%;
    color: white;
}
/* Hero Section */
.bg-hero{
  background: url('/public/assets/img/background/bg-hero.png');
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.flickity-page-dots {
  bottom: 0 !important;
}
.flickity-page-dots .dot {
  visibility: collapse;
}
.carousel-hero{
  margin-top: 30px;
  
}
.carousel-hero-cell {
  width: 159px;
  height: 203px;
  background: url('/public/assets/img/hero-card.png');
  background-size: cover;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment:none;
}
.carousel-hero-cell.is-selected {
  background: url('/public/assets/img/hero-card-2.png');
  background-size: 100%;
}

.carousel-hero-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* .carousel-hero-2{ */
  /* margin-top: 30%; */
  /* margin-left: 50px;
  width: 100%;
} */
/* .carousel-hero-cell-2 {
  width: 66%;
  height: 400px;
   width: 500px;
  margin-right: 50px;
  border-radius: 5px;
  counter-increment:none;
} */

/* .carousel-hero-cell-2:before {
display: block;
text-align: center;
line-height: 300px;
font-size: 80px;
color: white;
} */
.carousel{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-cell {
  width: 100%;
  border-radius: 5px;

}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* line-height: 200px; */
  font-size: 80px;
  color: white;
}

@media screen and (max-width: 770px) {
  .title-about-text{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/* How to Play Section */
.bg-tutorial{
  background: url('/public/assets/img/background/bg-tutorial.png');
}
.title-htp-text{
  font-family: 'Uncial Antiqua', cursive;
  font-size: 236%;
  color: white;
}

.desc-htp-text{
    font-family: 'Merriweather', serif;
    font-size: 69%;
    color: white;
}

.htp-text{
  display: flex;
}
 
.text-adjust{
  display: flex;
  justify-content: center;
}

/* World Map Section*/
.bg-world-map{
    background: url('/public/assets/img/background/bg-worldmap.png');
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.carousel-wm{
  width: 100%;
}
.carousel-wm-cell {
  width: 70%;
  height: 400px;
  /* margin-right: 10px; */
  border-radius: 5px;
  counter-increment:none;
}

.carousel-wm-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  /* font-size: 80px; */
  color: white;
}

.title-wm-text{
  font-family: 'Uncial Antiqua', cursive;
  font-size: 250%
}

.desc-wm-text{
    font-family: 'Merriweather', serif;
    font-size: 100%;
}



.wm-title-container{
  background: url('/public/assets/img/bg-title.png');
  background-repeat: no-repeat;
  width: 100%;
  padding: 40px 95px 40px 95px;
}

@media  screen and (max-width: 555px) {
  .wm-title-container{
    background-size: contain;
    padding: 20px 35px 10px 35px;
  }
  .title-wm-text{
    font-size: 120%;
    
  }
  .desc-wm-text{
    font-size: 60%;
  }
}